prefer-workspace-packages=true
stream=true
workspace-concurrency=Infinity
public-hoist-pattern=*types*
public-hoist-pattern=*eslint*
public-hoist-pattern=@prettier/plugin-*
public-hoist-pattern=*prettier-plugin-*
enable-pre-post-scripts=true

